# Create dashboards with our df using Plotly Dash

In [13]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import plotly.express as px
from jupyter_dash import JupyterDash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
from sklearn import datasets, linear_model
from sklearn.metrics import r2_score

In [14]:
# Import DF

df = pd.read_csv('db2023_cleandf.csv')

# Adding a new column with integers from 1 to 479
df['ID'] = range(1, 480)

# Display the DataFrame
print(df)

                                               Comment                 Time  \
0    Posting a bit early so people know where to go...  2023-10-10 11:14:12
1    20% fare reduction on public transport continu...  2023-10-10 13:55:05
2                                        This is good.  2023-10-10 14:16:50
3       Aaaaaahhhhh, what have the Greens done for us!  2023-10-10 16:56:05
4    €67 million to provide 16,000 craft apprentice...  2023-10-10 14:18:04
..                                                 ...                  ...
474                                          [deleted]  2023-10-10 13:30:20
475                                        You did not  2023-10-10 13:31:29
476  Whats the 18 year old minimum wage rate going to?  2023-10-10 15:30:22
477                                      10.16 I'd say  2023-10-10 15:33:48
478  Yeah forgot its a set rate of 80% of minimum w...  2023-10-10 15:52:32

     Score   ID
0        1    1
1       39    2
2        3    3
3        2    4
4       25    5
..     ...  ...
474     -1  475
475      3  476
476      1  477
477      1  478
478      1  479

[479 rows x 4 columns]

In [20]:
df['Time'] = pd.to_datetime(df['Time'], format='%Y-%m-%d %H:%M:%S')

print(df)

                                               Comment                Time  \
0    Posting a bit early so people know where to go... 2023-10-10 11:14:12
1    20% fare reduction on public transport continu... 2023-10-10 13:55:05
2                                        This is good. 2023-10-10 14:16:50
3       Aaaaaahhhhh, what have the Greens done for us! 2023-10-10 16:56:05
4    €67 million to provide 16,000 craft apprentice... 2023-10-10 14:18:04
..                                                 ...                 ...
474                                          [deleted] 2023-10-10 13:30:20
475                                        You did not 2023-10-10 13:31:29
476  Whats the 18 year old minimum wage rate going to? 2023-10-10 15:30:22
477                                      10.16 I'd say 2023-10-10 15:33:48
478  Yeah forgot its a set rate of 80% of minimum w... 2023-10-10 15:52:32

     Score   ID
0        1    1
1       39    2
2        3    3
3        2    4
4       25    5
..     ...  ...
474     -1  475
475      3  476
476      1  477
477      1  478
478      1  479

[479 rows x 4 columns]

In [55]:
column_data_types = df.dtypes
print("Data Types of DataFrame Columns:")
print(column_data_types)

Data Types of DataFrame Columns:
Comment            object
Time       datetime64[ns]
Score               int64
ID                  int64
dtype: object

In [56]:
# Export dataframe to csv to use within dash app cells

df.to_csv('visdf.csv', index=False)

In [47]:
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import plotly.express as px
import pandas as pd

In [57]:
df = pd.read_csv('visdf.csv')

app = dash.Dash(__name__, suppress_callback_exceptions=True)


app.layout = html.Div([
    html.H1("Time Series Analysis Dashboard"),
    dcc.Graph(id='time-series-plot'),
    # Add more components as needed
])

@app.callback(
    Output('time-series-plot', 'figure'),
    [Input('dropdown-feature', 'value')]  # Add input components as needed
)
def update_time_series_plot(selected_feature):
    fig = px.line(df, x='Time', y=selected_feature, title=f'Time Series Plot of {selected_feature}')
    return fig


if __name__ == '__main__':
    app.run_server(debug=True, mode="inline")

In [58]:
df = pd.read_csv('visdf.csv')

app = dash.Dash(__name__, suppress_callback_exceptions=True)

app.layout = html.Div([
    html.H1("Time Series Analysis Dashboard"),
    dcc.Dropdown(
        id='dropdown-feature',
        options=[
            {'label': col, 'value': col} for col in df.columns
        ],
        value=df.columns[0],  # Default selected value
        multi=False  # Set to True if you want to allow multiple selections
    ),
    dcc.Graph(id='time-series-plot'),
])

@app.callback(
    Output('time-series-plot', 'figure'),
    [Input('dropdown-feature', 'value')]
)
def update_time_series_plot(selected_feature):
    fig = px.line(df, x='Time', y=selected_feature, title=f'Time Series Plot of {selected_feature}')
    return fig

if __name__ == '__main__':
    app.run_server(debug=True, mode="inline")

In [59]:
import dash
import plotly.express as px

In [63]:
df = pd.read_csv('visdf.csv')

app = dash.Dash(__name__, suppress_callback_exceptions=True)

app.layout = html.Div([
    html.H1("Time Series Analysis Dashboard"),
    dcc.Dropdown(
        id='dropdown-feature',
        options=[
            {'label': col, 'value': col} for col in df.columns
        ],
        value=df.columns[0],  # Default selected value
        multi=False  # Set to True if you want to allow multiple selections
    ),
    dcc.Graph(id='time-series-plot'),
])

@app.callback(
    Output('time-series-plot', 'figure'),
    [Input('dropdown-feature', 'value')]
)
def update_time_series_plot(selected_feature):
    fig = px.line(df, x='Time', y=selected_feature, title=f'Time Series Plot of {selected_feature}')
    return fig


    
    
if __name__ == '__main__':
    app.run_server(debug=True, host='127.0.0.1', port=8050)